<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net461" />
  <package id="Castle.Activerecord" version="3.0.0.1" requireReinstallation="true" />
  <package id="Castle.Components.Validator" version="2.5.0" requireReinstallation="true" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net45" requireReinstallation="true" />
  <package id="NHibernate" version="5.2.0" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net461" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net461" />
  <package id="xunit.runner.visualstudio" version="2.4.1" targetFramework="net461" developmentDependency="true" />
</packages>