.vs/
build/
[Bb]in/
[Dd]ebug/
[Oo]bj/
Packages/*
[Rr]elease/
_ReSharper.*/

*resharper.user
*.sln.cache
*.suo
*.user

AssemblyInfo.cs
/Rhino.Security/Rhino.Security.xml
/Rhino.Security/Rhino.Security.XML
